 .service{
    .container{
        padding-bottom: 4rem;
    }
    .service-item{
        margin-bottom: 3rem;
        flex: 0 0 33.33%;
        max-width: 33.33%;
        .service-item-inner{
            background-color: $bg-black-100;
            border: .1rem solid $bg-black-50;
            border-radius: 1rem;
            padding: 2rem 1rem;
            transition: all 0.3s ease;
            &:hover{
                box-shadow: 0 0 .5rem rgba(48,46,77, 0.15);
            }
            .icon{
                height: 3rem;
                width: 3rem;
                border-radius: 50%;
                display: block;
                margin: 0 auto 1rem;
                background-color: red;
            }
            h4{
                margin-bottom: .5rem;
            }
            p{
                color: $text-black-700;
                line-height: 1.5rem;
            }
        }
    }
 }