.btn{
    padding: .5rem 1rem;
    background: $skin-color;
    border-radius: 4rem;
    display: inline-block;
    white-space: nowrap;
    border: none;
    transition: all 0.3s ease;
}
.buttons{
    margin-top: 2rem;
}