node_modules
.sass-cache

package-lock.json

#babel cli
#.babelrc
#.prettierrc
.vscode
#--------------------------
main.js
passport.js
passWordUtils.js
tes.js
dist/
#webpack configuration files
#webpack.config.js
frontend1/
#uploads files
uploads/*.jpg
uploads/*.png