node_modules
.sass-cache

package-lock.json

#babel cli
#.babelrc
#.env
#.prettierrc
.vscode
#--------------------------
dist/
#webpack configuration files
#webpack.config.js
#uploads files
uploads/*.jpg
uploads/*.png
