.aside{
    background: $bg-black-100;
    width: 15rem;
    position:fixed;
    left: 0;
    top: 0;
    padding: 2rem;
    z-index: 10;
    height: 100%;
    border-right: .1rem solid $bg-black-50;
    display: flex;
    justify-content: center;
    align-items: center;
    &__logo{
        position:absolute;
        top: 5rem; 
        a{
            //background: red;
            padding: .1rem .1rem;
            position: relative;
            &::before{
                content: '';
                position:absolute;
                width: 1rem;
                height: 1rem;
                border-bottom: .2rem solid $skin-color;
                border-left: .2rem solid $skin-color;
                bottom: -.2rem;
                left: -.5rem;
            }
            &::after{
                content: '';
                position:absolute;
                width: 1rem;
                height: 1rem;
                border-top: .2rem solid $skin-color;
                border-right: .2rem solid $skin-color;
                top: -.2rem;
                right: -.5rem;
            }
        }   
    }
    &__nav-toggler{
        height: 3rem;
        width: 3.5rem;
        border: .1rem solid $bg-black-50;
        cursor: pointer;
        position: fixed;
        left: 14rem;
        top: 2rem;
        border-radius: .5rem;
        background: $bg-black-100;
        display: none;
        align-items: center;
        justify-content: center;
        span{
            height: .2rem;
            width: 1.8rem;
            background: $skin-color;
            display: inline-block;
            position: relative;
            &::before{
                content: '';
                height: .2rem;
                width: 1.8rem;
                background: $skin-color;
                position: absolute;
                top: -.6rem;
                left: 0;
            }
            &::after{
                content: '';
                height: .2rem;
                width: 1.8rem;
                background: $skin-color;
                position: absolute;
                top: .6rem;
                left: 0;
            }
        }
    }
    &__nav{
        margin-top: 2rem;
        li{
            margin-bottom: 2rem;
            display: block;
            a{
                display: block;
                padding: .3rem 1rem;
                border-bottom: .1rem solid $bg-black-50;
            }
        }
    }
  
}