@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700;900&display=swap");
:root {
  --main-font: 'poppins' sans-serif;
  --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
  --main-color: #2aaf83;
  --second-color: #196a38;
  --text-color: #314862;
  --bg-color: #ffffff;
  --hover-color: #23c08c;
  --skin-color: #ff0000;
  --hover-text: #dad3d3;
  --box-color: #c0c0c0;
  --bg-color-2: #161313;
}

:root {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  list-style: none;
  scroll-behavior: smooth;
  scroll-padding-top: 2em;
}

*, ::before, ::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background: #f4f6f9;
  color: #333;
  line-height: 1;
  font-family: var(--main-font, sans-serif);
  color: var(--text-color, #314862);
}

body * + * {
  margin-top: 1em;
}

img {
  width: 100%;
}

/*.aside{
    &__logo{
        font-size: $font-smaller;
        text-transform: capitalize;
        @include responsive(tablet-landscape){
            font-size: $font-smallest;
        }
        a{
            font-weight: 700;
            color: $text-black-700;
            font-size: $font-smaller;
            letter-spacing: .1rem;
            @include responsive(tablet-landscape){
                font-size: $font-smallest;
            }
            span{
                font-family: 'Clicker Script', cursive;
                font-size: $font-default;
            }
        }
    }
    &__nav{
        li{
            a{
                font-size: $font-smallest;
                font-weight: 600;
                color: $text-black-900;
               
                &.active{
                    color: $skin-color;
                }
            }
        }
    }
   
}
.home{
    color: $text-black-900;
    .home-info{
        .welcome{
            font-size: $font-medium;
            @include responsive (tablet-landscape){
                font-size: $font-default;
            }
            span{
                font-family: 'Clicker Script', cursive;
                font-size: $font-medium-2;
                font-weight: 700;
                color: $skin-color;
                @include responsive (tablet-landscape){
                    font-size: $font-medium-1;
                }
            }
         
        }
        .job{
            font-size: $font-default;
            margin: 1.5rem 0;
            @include responsive(tablet-landscape){
                font-size: $font-small;
            }
            .typing{
                font-family: 'Clicker Script', cursive;
                font-size: $font-medium;
                color: $skin-color;
            }
        }
        p{
            font-size: $font-smaller;
            color: $text-black-700;
            @include responsive(tablet-landscape){
                font-size: $font-smallest;
            }
        }
        h5{
            font-size: $font-small;
        }
    }
    .home-image{
        text-align: center;
    }
}

.btn{
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.section-title{
    h2{
        font-size: $font-default;
        color: $text-black-900;
        font-weight: 700;
        position: relative;
    }
}
.about{
    .about-content{
        .about-text{
            h3{
                font-size: $font-small;
                font-weight: 700;
                color: $text-black-900;
                span{
                    color: $skin-color;
                }
            }
            p{
                font-size: $font-smaller;
                line-height: 2.5rem;
                color: $text-black-700;
                @include responsive(tablet-landscape){
                    font-size: $font-smallest;
                    line-height: 1.5rem;
                }
            }
        }
        .company-info{
            .info-item{
                p{
                    font-size: $font-smallest;
                    font-weight: 600;
                    color: $text-black-900;
                    span{
                        font-weight: 400;
                        color: $text-black-700 ;
                        
                    }
                }
            }
        }
    }
}


.service-item-inner{
    text-align: center;
    h4{
        font-size: $font-smallest;
        color: $text-black-900;
        font-weight: 700;
        text-transform: capitalize;
    }
  
}
.icon{
    text-align: center;
    .fa{
        font-size: $font-small;
        line-height: 3rem;
        color: $skin-color;
    }
}
.project-heading{
    h2{
        color: $text-black-900;
        font-weight: 500;
    }
}

.contact-title{
    color: $skin-color;
    text-align: center;
    font-size: $font-default;
}
.contact-sub-title{
    color: $text-black-900;
    text-align: center;
    font-size: $font-smaller;
}
.contact-info-item{
    text-align: center;
    h4{
        font-size: $font-smallest;
        font-weight: 700;
        color: $text-black-900;
        text-transform: capitalize;
       
    }
    p{
        font-size: $font-sm;
        line-height: 1rem;
        color: $text-black-700;
        font-weight: 400;
    }
}
.form-control{
    font-size: $font-smallest;
    color: $text-black-700;
}
.s-icon{
    text-align: center;
    font-size: $font-smallest;
    color: $text-black-900;
}
.style-switcher{
    color: $text-black-700;
    font-size: $font-sm;
    font-weight: 400;
    text-transform: capitalize;
}*/
/*.btn{
    &:hover{
        transform: scale(1.05);
    }
}
    */
/*@include responsive(big-desktop){
    .container{
        margin-left: 1em;
        margin-right: 1em;
    }
}

@include responsive(tablet-landscape){
    section{
        padding: 4em 0 3em;
    }
    .properties-container{
        grid-template-columns: repeat(auto-fit, minmax(12.5em, auto));
        gap: 1em;
        padding: 0 0.6em;
    }
    .login{
        grid-template-columns: 0.6fr 1fr;
    }
}
@include responsive(tablet-portrait){
    .nav{
        padding: 0.4em 0;
    }
    .logo{
        font-size: .8rem;
    }
    .nav #menu-icon{
        display: block;
        font-size: 1.6rem;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        @include display-flex;
        flex-direction: column;
        background: var(--second-color, #196a38);
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        transition: 0.6s;
    }
    .navbar a{
        display: block;
        margin: .8em;
        padding: 1.2em;
        font-size: .6rem;
        
    }
    .navbar .navbar__links{
        color: var(--bg-color, #ffffff);
    }
    .navbar .navbar__links:hover{
        background: var( --main-color, #2aaf83);
        color: var(--hover-text, #dad3d3);
        transform: translateY(-5px);
        transition: 0.6s;
    }
    #menu:checked ~ .navbar{
        clip-path: circle(144% at 100% 1%);
    }
    .btn{
        margin-top: 0;
        padding: 0.2em 0.4em;

    }
    .home-text h1{
        font-size: .4rem;
    }
    .about-text span{
        font-size: 0.94rem;
    }
    .about-text h2{
        font-size: 1.4rem;
    }
}
@include responsive(phone){
    
    .about{
        text-align: center;
    }
    .image{
        order: 2;
    }
    .login{
        grid-template-columns: 1fr !important;
        margin-top: 3em !important;
        justify-content: center;
    }
    .login-image{
        display: none;
    }
    .home-text{
        padding-left: 0.9em;
    }
    .home-text h1{
        font-size: 1.6rem;
    }
    .about-text h2{
        font-size: 1.2em;
    }
    .properties-container{
        padding: 0;
    }
}
    */
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.container {
  max-width: 1068px;
  margin-left: auto;
  margin-right: auto;
}

.main-section {
  top: 10;
  padding: 0;
}

section {
  padding: 0;
}

/*.section{
    background: lighten(rgba($themeThree, 0.5), 45);
    min-height: 100vh;
    display: block;
    padding: 0 3rem;
    opacity: 1;
    @include responsive(tablet-landscape){
        padding: 0 2rem;
    }
}
.hidden{
    display: none !important;
}
.container{
    max-width: 70rem;
    width: 100%;
    margin: auto;
   
   
}

.padding{
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    @include responsive(tablet-landscape){
        padding-left: 1.3rem;
        padding-right: 1.3rem;
    }

}

.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.5rem;
    margin-right: -1.5rem;
    position: relative;
}
.main-content{
    padding-left: 15rem;
    @include responsive(tablet-landscape){
        padding-left: 12rem;
    }
}

.col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.col-12{
    flex: 0 0 100%;
    max-width: 100%;
}
.block-display{
    display: block;
}*/
/* Dashboard */
/*sidebar*/
.sidebar {
  width: 200px;
  background: #2c3e50;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: .5em;
  border-radius: 0 10px 10px 0;
  min-height: 100v;
}

.sidebar nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: .3em;
  margin-left: .3em;
  width: 100%;
}

.sidebar nav h3 {
  margin-top: .3em;
  font-size: 1em;
}

.sidebar .nav-item {
  margin-top: .609em;
  border-radius: 10px 10px 10px 10px;
  padding: .3em;
  width: 90%;
  cursor: pointer;
}

nav a {
  font-size: .8em;
  text-decoration: none;
  margin-left: 1em;
  color: var(--bg-color, #fff);
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

nav .nav-item:hover {
  background-color: var(--hover-color, #23c08c);
}

nav .nav-item.selected {
  background-color: var(--hover-color, #23c08c);
  color: #f08040;
}

.wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.header-section {
  display: block;
  width: 100%;
  height: 3em;
  background: var(--bg-color, #ffffff);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.nav {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.6em 0.4em;
}

.logo {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5em;
          column-gap: 0.5em;
  color: var(--main-color, #2aaf83);
  font-size: 1rem;
  font-weight: 700;
  -webkit-columns: var(--text-color, #314862);
          columns: var(--text-color, #314862);
  text-transform: uppercase;
}

.logo .bx {
  font-size: 1.2rem;
  color: var(--main-color, #2aaf83);
}

.navbar {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
}

.navbar a {
  padding: 0.5em 1em;
  color: var(--text-color, #314862);
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 500;
}

.navbar > li {
  margin-top: 0;
}

.navbar a:hover {
  color: var(--text-color, #314862);
}

#menu-icon {
  font-size: 0.6rem;
  cursor: pointer;
  display: none;
}

#menu {
  display: none;
}

.btn {
  margin-top: 0;
  padding: 0.4em 0.7em;
  background: var(--main-color, #2aaf83);
  color: var(--bg-color, #ffffff);
  border-radius: 1em;
}

.btn:hover {
  background: var(--hover-color, #1ddb9c);
}

.nav-profile-img {
  width: 50px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}

.online {
  position: relative;
}

.online::after {
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 0;
  top: 0;
  background: #41db51;
  position: absolute;
}

.user-info {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-info a {
  font-weight: 600;
  color: #c9dbf8;
  font-size: 0.94rem;
}

.user-info a h3 {
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 0.7em;
}

/*main area*/
.main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  padding: 2em;
}

.login {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 0.4fr 1fr;
      grid-template-columns: 0.4fr 1fr;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-height: 80vh;
}

.login-container {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: .5rem;
}

.login-container h2 {
  font-size: 1.2rem;
}

.login-container p {
  font-size: 0.7rem;
}

.login-container form {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login-container form span {
  font-size: 0.7rem;
  color: #8a8a8a;
  margin-bottom: 4px;
}

.login-container form input {
  border: 1px solid #8a8a8a;
  outline: none;
  padding: 6px;
  margin-bottom: .5rem;
  background: var(--bg-color, #ffffff);
}

.login-container form .button {
  outline: none;
  border: none;
  background: var(--main-color, #2aaf83);
  color: var(--bg-color, #ffffff);
  font-size: 0.7rem;
  font-weight: 700;
}

.login-container form a {
  font-size: 0.7rem;
  text-align: right;
}

.login-container .btn {
  border-radius: 0;
  text-align: center;
  font-size: 0.7rem;
  font-weight: 700;
}
