:root{
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;
    scroll-padding-top: 2em;
}
*, ::before, ::after{
    box-sizing: inherit;
}
body{
    display: flex;
    background: #f4f6f9;
    color: #333;
    line-height: 1;
    font-family: var( --main-font, sans-serif);
    color: var(--text-color, #314862);
}
body * + * {
    margin-top: 1em;
}

img{
    width: 100%;
}
