@include responsive(big-desktop){
    .container{
        margin-left: 1em;
        margin-right: 1em;
    }
}

@include responsive(tablet-landscape){
    section{
        padding: 4em 0 3em;
    }
    .properties-container{
        grid-template-columns: repeat(auto-fit, minmax(12.5em, auto));
        gap: 1em;
        padding: 0 0.6em;
    }
    .login{
        grid-template-columns: 0.6fr 1fr;
    }
}
@include responsive(tablet-portrait){
    .nav{
        padding: 0.4em 0;
    }
    .logo{
        font-size: .8rem;
    }
    .nav > #menu-icon{
        margin-top: 0;
        display: block;
        font-size: 1.6rem;
    }
    .navbar{
        position: absolute;
        top: 100%;
        right: 0;
        left: 0;
        @include display-flex;
        flex-direction: column;
        background: var(--second-color, #196a38);
        text-align: center;
        clip-path: circle(0% at 100% 1%);
        transition: 0.6s;
    }
    .navbar a{
        display: block;
        margin: .8em;
        padding: 1.2em;
        font-size: .6rem;
        
    }
    .navbar .navbar__links{
        color: var(--bg-color, #ffffff);
    }
    .navbar .navbar__links:hover{
        background: var( --main-color, #2aaf83);
        color: var(--hover-text, #dad3d3);
        transform: translateY(-5px);
        transition: 0.6s;
    }
    #menu:checked ~ .navbar{
        clip-path: circle(144% at 100% 1%);
    }
    .btn{
        margin-top: 0;
        padding: 0.2em 0.4em;

    }
    .home-text h1{
        font-size: .4rem;
    }
    .about-text span{
        font-size: 0.94rem;
    }
    .about-text h2{
        font-size: 1.4rem;
    }
}
@include responsive(phone){
    
    .about{
        text-align: center;
    }
    .image{
        order: 2;
    }
    .login{
        grid-template-columns: 1fr !important;
        margin-top: 3em !important;
        justify-content: center;
    }
    .login-image{
        display: none;
    }
    .home-text{
        padding-left: 0.9em;
    }
    .home-text h1{
        font-size: 1.6rem;
    }
    .about-text h2{
        font-size: 1.2em;
    }
    .properties-container{
        padding: 0;
    }
}