/*main area*/
.main{
    flex: 1;
    padding: 2em;
}
/* Topbar Styling (Sticky Header) */
.topbar {
  position: relative; /* sticks to top */
  overflow: hidden;
  top: -35px;
  left: 190px;
  z-index: 1000;
  width: 1100px;
  height: 100%;
  border-radius: 5px;
  background: #fff;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-bottom: 1px solid #ddd;
}
h4{
    flex: 1;
    position: relative;
    padding: 10px;
    z-index: 1;
    margin: 10px;
}
.search{
    display: flex;
    height: 5em;
    margin-top: 0;
    width: 100vw;
}
.text-box {
  border: none;
  padding: 5px;
  width: 700px;
  height: 32px;
  color: rgb(73, 73, 73);
  border: #1abc9c 1px solid;
  outline: none;
}
.button {
  background: #1abc9c;
  color: white;
  padding: 6px;
  margin-top: .75em;
  width: 15em;
  height: 32px;
  right: 10px;
  text-align: center;
  font-size: 1.1em;
  margin-right: 10px;
  border: none;
}
.button:hover{
    cursor: pointer;
}