.header-section{
  display: block;
  width: 100%;
  height: 3em;
  background: var(--bg-color, #ffffff);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.nav{
  @include display-flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.6em 0.4em;
}
.logo{
  @include display-flex;
  align-items: center;
  column-gap: 0.5em;
  color: var( --main-color, #2aaf83);
  font-size: 1rem;
  font-weight: 700;
  columns: var(--text-color, #314862);
  text-transform: uppercase;
}
.logo .bx{
  font-size: 1.2rem;
  color: var( --main-color, #2aaf83);;
}
.navbar{
  @include display-flex;
}
.navbar a{
  padding: 0.5em 1em;
  color: var(--text-color, #314862);
  font-size: .8rem;
  text-transform: uppercase;
  font-weight: 500;
}
.navbar > li{
  margin-top: 0;
}
.navbar a:hover{
  color: var(--text-color, #314862);
}
#menu-icon{
  font-size: 0.6rem        ;
  cursor: pointer;
  display: none;
}
#menu{
  display: none;
}
.btn{
  margin-top: 0;
  padding: 0.4em 0.7em;
  background: var( --main-color, #2aaf83);;
  color: var(--bg-color, #ffffff);
  border-radius: 1em;
}
.btn:hover{
  background: var(--hover-color, #1ddb9c);
}
.nav-profile-img{
  width: 50px;
  border-radius: 50%;
  display: block;
  cursor: pointer;
  position: relative;
}
.online{
  position: relative;;
}
.online::after{
  content: '';
  width: 7px;
  height: 7px;
  border: 2px solid #fff;
  border-radius: 50%;
  right: 0;
  top: 0;
  background: #41db51;
  position: absolute;
}
.user-info{
  @include display-flex;
  align-items: center;
}
.user-info a{
  font-weight: 600;
  color: #c9dbf8;
  font-size: 0.94rem;
}
.user-info a h3{
  font-size: 0.7rem;
  font-weight: 500;
  margin-bottom: 0.7em;
}