@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');

$font-weights: ( "regular": 400, "medium": 700, "bold": 900);
//
//-----------------------------------------------------------------
//Font Size
//-----------------------------------------------------------------
$font-sm: 0.6rem;
$font-smallest: 0.8rem; //10px
$font-smaller: 1.2rem; //12px
$font-small: 1.4rem; //14px
$font-default: 1.6rem; //16px
$font-medium: 1.8rem; //18px
$font-medium-1: 2.2rem; //22px
$font-medium-2: 2.4rem; //24px
$font-medium-3: 3.0rem; //30px
$font-medium-4: 3.6rem; //36px
$font-medium-5: 4.8rem; //48px
$font-medium-6: 5.0rem; //50px
$font-big: 6.0rem; //60px
$font-bigger: 7.2rem; //72px
$font-biggest: 8.4rem; //84px

//colors 
$bg-black-900: #f2f2fc;
$bg-black-100: #fdf9ff;
$bg-black-50: #e8dfec;
$text-black-900: #302e4d;
$text-black-700: #504e70;
$skin-color: #ec1839;