.aside{
    &__logo{
        font-size: $font-smaller;
        text-transform: capitalize;
        a{
            font-weight: 700;
            color: $text-black-700;
            font-size: $font-smaller;
            letter-spacing: .1rem;
            span{
                font-family: 'Clicker Script', cursive;
                font-size: $font-default;
            }
        }
    }
    &__nav{
        li{
            a{
                font-size: $font-smallest;
                font-weight: 600;
                color: $text-black-900;
                &.active{
                    color: $skin-color;
                }
            }
        }
    }
   
}
.home{
    color: $text-black-900;
    .home-info{
        .welcome{
            font-size: $font-medium;
            span{
                font-family: 'Clicker Script', cursive;
                font-size: $font-medium-3;
                font-weight: 700;
                color: $skin-color;
            }
        }
        .job{
            font-size: $font-default;
            margin: 1.5rem 0;
            .typing{
                font-family: 'Clicker Script', cursive;
                font-size: $font-medium;
                color: $skin-color;
            }
        }
        p{
            font-size: $font-smaller;
            color: $text-black-700;
        }
    }
    .home-image{
        text-align: center;
    }
}

.btn{
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.section-title{
    h2{
        font-size: $font-default;
        color: $text-black-900;
        font-weight: 700;
        position: relative;
    }
}
.about{
    .about-content{
        .about-text{
            h3{
                font-size: $font-small;
                font-weight: 700;
                color: $text-black-900;
                span{
                    color: $skin-color;
                }
            }
            p{
                font-size: $font-smaller;
                line-height: 2.5rem;
                color: $text-black-700;
            }
        }
        .company-info{
            .info-item{
                p{
                    font-size: $font-smallest;
                    font-weight: 600;
                    color: $text-black-900;
                    span{
                        font-weight: 400;
                        color: $text-black-700 ;
                        
                    }
                }
            }
        }
    }
}


.service-item-inner{
    text-align: center;
    h4{
        font-size: $font-smallest;
        color: $text-black-900;
        font-weight: 700;
        text-transform: capitalize;
    }
  
}
.icon{
    text-align: center;
}
.project-heading{
    h2{
        color: $text-black-900;
        font-weight: 500;
    }
}

.contact-title{
    color: $skin-color;
    text-align: center;
    font-size: $font-default;
}
.contact-sub-title{
    color: $text-black-900;
    text-align: center;
    font-size: $font-smaller;
}
.contact-info-item{
    text-align: center;
    h4{
        font-size: $font-smallest;
        font-weight: 700;
        color: $text-black-900;
        text-transform: capitalize;
       
    }
    p{
        font-size: $font-sm;
        line-height: 1rem;
        color: $text-black-700;
        font-weight: 400;
    }
}
.form-control{
    font-size: $font-smallest;
    color: $text-black-700;
}