@import url("https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap");
body {
  line-height: 1.5;
  font-size: 62.5%;
  font-family: 'poppins' sans-serif; }

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-decoration: none;
  box-sizing: border-box; }

::before, ::after {
  box-sizing: border-box; }

ul {
  list-style: none; }

.aside__logo {
  font-size: 1.2rem;
  text-transform: capitalize; }
.aside__logo a {
  font-weight: 700;
  color: #504e70;
  font-size: 1.2rem;
  letter-spacing: .1rem; }
.aside__logo a span {
  font-family: 'Clicker Script', cursive;
  font-size: 1.6rem; }
.aside__nav li a {
  font-size: 0.8rem;
  font-weight: 600;
  color: #302e4d; }
.aside__nav li a.active {
  color: #0aa524; }

.home {
  color: #302e4d; }
.home .home-info .welcome {
  font-size: 1.8rem; }
.home .home-info .welcome span {
  font-family: 'Clicker Script', cursive;
  font-size: 3rem;
  font-weight: 700;
  color: #0aa524; }
.home .home-info .job {
  font-size: 1.6rem;
  margin: 1.5rem 0; }
.home .home-info .job .typing {
  font-family: 'Clicker Script', cursive;
  font-size: 1.8rem;
  color: #0aa524; }
.home .home-info p {
  font-size: 1.2rem;
  color: #504e70; }
.home .home-info h5 {
  font-size: 1.4rem; }
.home .home-image {
  text-align: center; }

.btn {
  font-size: 1rem;
  font-weight: 500;
  color: white; }

.section-title h2 {
  font-size: 1.6rem;
  color: #302e4d;
  font-weight: 700;
  position: relative; }

.about .about-content .about-text h3 {
  font-size: 1.4rem;
  font-weight: 700;
  color: #302e4d; }
.about .about-content .about-text h3 span {
  color: #0aa524; }
.about .about-content .about-text p {
  font-size: 1.2rem;
  line-height: 2.5rem;
  color: #504e70; }
.about .about-content .company-info .info-item p {
  font-size: 0.8rem;
  font-weight: 600;
  color: #302e4d; }
.about .about-content .company-info .info-item p span {
  font-weight: 400;
  color: #504e70; }

.service-item-inner {
  text-align: center; }
.service-item-inner h4 {
  font-size: 0.8rem;
  color: #302e4d;
  font-weight: 700;
  text-transform: capitalize; }

.icon {
  text-align: center; }
.icon .fa {
  font-size: 1.4rem;
  line-height: 3rem;
  color: #0aa524; }

.project-heading h2 {
  color: #302e4d;
  font-weight: 500; }

.contact-title {
  color: #0aa524;
  text-align: center;
  font-size: 1.6rem; }

.contact-sub-title {
  color: #302e4d;
  text-align: center;
  font-size: 1.2rem; }

.contact-info-item {
  text-align: center; }
.contact-info-item h4 {
  font-size: 0.8rem;
  font-weight: 700;
  color: #302e4d;
  text-transform: capitalize; }
.contact-info-item p {
  font-size: 0.6rem;
  line-height: 1rem;
  color: #504e70;
  font-weight: 400; }

.form-control {
  font-size: 0.8rem;
  color: #504e70; }

.s-icon {
  text-align: center;
  font-size: 0.8rem;
  color: #302e4d; }

.style-switcher {
  color: #504e70;
  font-size: 0.6rem;
  font-weight: 400;
  text-transform: capitalize; }

.btn:hover {
  transform: scale(1.05); }

.section {
  background: rgba(218, 244, 234, 0.5);
  min-height: 100vh;
  display: block;
  padding: 0 3rem;
  opacity: 1; }

.hidden {
  display: none !important; }

.container {
  max-width: 70rem;
  width: 100%;
  margin: auto; }

.padding-15 {
  padding-left: 1.5rem;
  padding-right: 1.5rem; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -1.5rem;
  margin-right: -1.5rem;
  position: relative; }

.main-content {
  padding-left: 15rem; }

.col-6 {
  flex: 0 0 50%;
  max-width: 50%; }

.col-12 {
  flex: 0 0 100%;
  max-width: 100%; }

.btn {
  padding: .5rem 1rem;
  background: #0aa524;
  border-radius: 4rem;
  display: inline-block;
  white-space: nowrap;
  border: none;
  transition: all 0.3s ease; }

.buttons {
  margin-top: 2rem; }

.contact-form {
  flex: 0 0 100%;
  max-width: 100%; }
.contact-form .form-item {
  margin-bottom: 3rem; }
.contact-form textarea.form-control {
  height: 14rem; }
.contact-form .form-control {
  width: 100%;
  height: 3rem;
  border-radius: 2.5rem;
  background: #fdf9ff;
  border: 0.1rem solid #e8dfec;
  padding: 1rem 2.5rem;
  transition: all 0.3s ease; }
.contact-form .form-control:focus {
  box-shadow: 0 0 2rem rgba(48, 46, 77, 0.15); }

.aside {
  background: #fdf9ff;
  width: 15rem;
  position: fixed;
  left: 0;
  top: 0;
  padding: 2rem;
  z-index: 10;
  height: 100%;
  border-right: 0.1rem solid #e8dfec;
  display: flex;
  justify-content: center;
  align-items: center; }
.aside__logo {
  position: absolute;
  top: 5rem; }
.aside__logo a {
  padding: .1rem .1rem;
  position: relative; }
.aside__logo a::before {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-bottom: 0.2rem solid #0aa524;
  border-left: 0.2rem solid #0aa524;
  bottom: -.2rem;
  left: -.5rem; }
.aside__logo a::after {
  content: '';
  position: absolute;
  width: 1rem;
  height: 1rem;
  border-top: 0.2rem solid #0aa524;
  border-right: 0.2rem solid #0aa524;
  top: -.2rem;
  right: -.5rem; }
.aside__nav-toggler {
  height: 3rem;
  width: 3.5rem;
  border: 0.1rem solid #e8dfec;
  cursor: pointer;
  position: fixed;
  left: 14rem;
  top: 2rem;
  border-radius: .5rem;
  background: #fdf9ff;
  display: none;
  align-items: center;
  justify-content: center; }
.aside__nav-toggler span {
  height: .2rem;
  width: 1.8rem;
  background: #0aa524;
  display: inline-block;
  position: relative; }
.aside__nav-toggler span::before {
  content: '';
  height: .2rem;
  width: 1.8rem;
  background: #0aa524;
  position: absolute;
  top: -.6rem;
  left: 0; }
.aside__nav-toggler span::after {
  content: '';
  height: .2rem;
  width: 1.8rem;
  background: #0aa524;
  position: absolute;
  top: .6rem;
  left: 0; }
.aside__nav {
  margin-top: 2rem; }
.aside__nav li {
  margin-bottom: 2rem;
  display: block; }
.aside__nav li a {
  display: block;
  padding: .3rem 1rem;
  border-bottom: 0.1rem solid #e8dfec; }
.aside__nav li a .fa {
  padding-right: 1rem; }

.home {
  min-height: 100vh;
  display: flex; }
.home .home-info {
  flex: 0 0 60%;
  max-width: 60%; }
.home .home-info p {
  margin-bottom: 7rem; }
.home .home-image {
  flex: 0 0 40%;
  max-width: 40%;
  position: relative; }
.home .home-image img {
  height: 25rem;
  margin: auto;
  border-radius: 1rem; }
.home .home-image::after {
  content: '';
  position: absolute;
  height: 4rem;
  width: 4rem;
  border-bottom: 0.6rem solid #0aa524;
  border-right: 0.6rem solid #0aa524;
  right: .5rem;
  bottom: -0.1rem; }
.home .home-image::before {
  content: '';
  position: absolute;
  height: 4rem;
  width: 4rem;
  border-top: 0.6rem solid #0aa524;
  border-left: 0.6rem solid #0aa524;
  left: .5rem;
  top: -3rem; }

.section .container {
  padding-top: 6rem;
  padding-bottom: 7rem; }

.section-title {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 4rem; }
.section-title h2::before {
  content: '';
  height: .1rem;
  width: 5rem;
  background-color: #0aa524;
  position: absolute;
  top: 100%;
  left: 0; }
.section-title h2::after {
  content: '';
  height: .15rem;
  width: 2.5rem;
  background-color: #0aa524;
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: .8rem; }

.about .about-content {
  flex: 0 0 100%;
  max-width: 100%; }
.about .about-content .about-text {
  flex: 0 0 100%;
  max-width: 100%; }
.about .about-content .about-text h3 {
  margin-bottom: 1.5rem; }
.about .about-content .company-info {
  flex: 0 0 60%;
  max-width: 60%;
  margin-top: 4rem; }
.about .about-content .company-info .info-item {
  flex: 0 0 50%;
  max-width: 50%; }
.about .about-content .company-info .info-item p {
  padding: 1rem 0;
  border-bottom: 0.1rem solid #e8dfec; }
.about .about-content .company-info .info-item p span {
  margin-left: .4rem;
  display: inline-block; }

.service .container {
  padding-bottom: 4rem; }
.service .service-item {
  margin-bottom: 3rem;
  flex: 0 0 33.33%;
  max-width: 33.33%; }
.service .service-item .service-item-inner {
  background-color: #fdf9ff;
  border: 0.1rem solid #e8dfec;
  border-radius: 1rem;
  padding: 2rem 1rem;
  transition: all 0.3s ease; }
.service .service-item .service-item-inner:hover {
  box-shadow: 0 0 0.5rem rgba(48, 46, 77, 0.15); }
.service .service-item .service-item-inner .icon {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: block;
  margin: 0 auto 1rem; }
.service .service-item .service-item-inner h4 {
  margin-bottom: .5rem; }
.service .service-item .service-item-inner p {
  color: #504e70;
  line-height: 1.5rem; }

.project .container {
  padding-bottom: 4rem; }
.project .container .project-heading {
  flex: 0 0 100%;
  max-width: 100%;
  margin-bottom: 2rem; }
.project .container .project-item {
  flex: 0 0 33.33%;
  max-width: 33.33%;
  margin-bottom: 3rem; }
.project .container .project-item .project-item-inner {
  border: 0.1rem solid #fdf9ff;
  border-radius: 1rem;
  overflow: hidden;
  cursor: pointer; }
.project .container .project-item .project-item-inner .project-img img {
  width: 100%;
  height: 12rem;
  display: block; }

.contact-title {
  margin-bottom: .5rem; }

.contact-sub-title {
  margin-bottom: 1rem; }

.contact-info-item {
  flex: 0 0 30%;
  max-width: 30%;
  margin-bottom: 2rem; }
.contact-info-item .icon {
  display: inline-block; }
.contact-info-item h4 {
  margin: .8rem 0 .5rem; }

.style-switcher {
  position: fixed;
  right: 0;
  top: 1rem;
  padding: .5rem;
  width: 6rem;
  border: 0.1rem solid #e8dfec;
  background: #fdf9ff;
  z-index: 101;
  border-radius: .5rem;
  transition: all 0.3s ease;
  transform: translateX(100%); }
.style-switcher .open {
  transform: translateX(-1.5rem); }
.style-switcher h4 {
  margin: 0 0 .5rem; }
.style-switcher .themes {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
.style-switcher .themes span {
  display: inline-block;
  height: 1rem;
  width: 1rem;
  border-radius: 50%; }
.style-switcher .themeOne {
  background: #ec1839; }
.style-switcher .themeTwo {
  background: #fa5b0f; }
.style-switcher .themeThree {
  background: #37b182; }

.style-switcher-toggler {
  top: 0; }

.s-icon {
  position: absolute;
  height: 2rem;
  width: 2rem;
  background: #fdf9ff;
  right: 100%;
  border: 0.1rem solid #e8dfec;
  margin-right: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
  border-radius: 50%; }
.s-icon i {
  line-height: 2rem; }

.day-night {
  top: 2.5rem; }

/*# sourceMappingURL=kwito.css.map */
