@use "../abstracts/mixins" as D;

/* Tabs container */
/*.tabs {
    display: flex;
    gap: 20px;
    padding: 15px 20px;
}

/* Each tab *
.tab {
    text-decoration: none;
    color: #333;
    padding-bottom: 6px;
    font-size: 15px;
}

/* Active tab (green underline like your screenshot) *
.tab.active {
    border-bottom: 3px solid #2bb673;
    font-weight: bold;
}

/* Content area *
.content {
    padding: 20px;
}

*/
.aside-nav{
    width: 800px;
    height: 3.5em;
    display: block;
    margin-left: 10em;
    margin-top: -4em;
    border-bottom: 1px solid rgba(0, 0, 0 ,0.2);
    position: sticky;
}
.aside{
    margin: 1.1em;
    font-size: 1rem; 
    @include D.display-flex;
    text-decoration: none;
    align-items: center;
    padding: 0.6em 0.4em;
}
.aside-item{
    margin: 0;
    display: block;
    margin-top: 1em;
    margin-left: 1em;
}
.aside-item a{
    color: var(--text-color,  #c0c0c0);;
    text-decoration: none;
}
.aside-item:hover{
    border-bottom: 4px solid var(--skin-color, #85c026);
}
.aside-item.selected{
    //background-color: rgba(0, 0, 0, 0.2);
    border-bottom: 4px solid var(--hover-color, #23c08c);
}
