.aside-nav{
    width: 200px;
    height: 32em;
    border-right: 1px solid rgba(0, 0, 0 ,0.2);
}
.aside-nav h5{
    margin-top: 1em;
    border-bottom: 1px solid rgba(0, 0, 0 ,0.2);
    width: 170px;

}
.aside{
    margin: 1.1em;
    font-size: 1rem;
}
.aside-item a{
    text-decoration: none;
}
