.payment{
    display: grid;
    grid-template-columns: 0.4fr 1fr;
    align-items: center;
    max-height: 50vh;
    padding-left: 25em;
}
.payment-container{
    @include display-flex;
    flex-direction: column;
    row-gap: .5rem;
}
.payment-container form{
    text-align: center;
    @include display-flex;
    flex-direction: column;
}
.payment-container form span{
    font-size: 1.7rem;
    color: var(--second-color);
    margin-bottom: 4px;
}
.payment-container form input{
    border: 1px solid #8a8a8a;
    outline: none;
    padding: 6px;
    margin-bottom: .5rem;
    background: var(--bg-color, #ffffff);
}
.payment-container form .button{
    outline: none;
    border: none;
    background: var( --main-color, #2aaf83);;
    color: var(--bg-color, #ffffff);
    font-size: 0.7rem;
    font-weight: 700;
}
.payment-container form a{
    font-size: 0.7rem;
    text-align: right;
}
.payment-container .btn{
    border-radius: 0;
    text-align: center;
    font-size: 0.7rem;
    font-weight: 700;
}