.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 2rem;
}
.image{
    border-radius: 2rem 0 2rem 2rem;
}
.about-text span{
    font-size: $font-medium;
    text-transform: uppercase;
    font-weight:900;
    color: var( --main-color, #2aaf83);;
}
.about-text h2{
    font-size: $font-default;
}
.about-text p{
    font-size: $font-smallest;
    margin: 1rem 0 1rem;
}