.about{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(18rem, auto));
    gap: 2em;
}
.image{
    border-radius: 2em 0 2em 2em;
}
.about-text span{
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight:900;
    color: var( --main-color, #2aaf83);;
}
.about-text h2{
    font-size: 1.6rem;
}
.about-text p{
    font-size: 0.94rem;
    margin: 1em 0 1em;
}