.contact-title{
    margin-bottom: .5rem;

}
.contact-sub-title{
    margin-bottom: 1rem;
}
.contact-info-item{
    flex: 0 0 30%;
    max-width: 30%;
    margin-bottom: 2rem;
    .icon{
        display: inline-block;
    }
    h4{
        margin: .8rem 0 .5rem;
    }
  
}