.home {
    margin-top: .5em;
    height: 25em;
    @include display-flex;
    align-items: center;
}
.home-image{
    position: absolute;
    width: 76%;
}
.home-image > img{
    height: 25em;
    border-radius: 1.5em;
}
.home-text{
    padding-left: 2em;
    z-index: 1;
}
.home-text h1{
    color: var(--text-color, #314862);
    font-size: 2rem;
    margin-bottom: 1em;
}
