.heading{
    text-align: center;
    margin-bottom: 2em;
}
.heading span{
    font-weight: 500;
    color: var( --main-color, #2aaf83);;
    font-size: 1.3rem;
}
.heading h2{
    font-size: 1.4rem;
}
.heading p{
    font-size: 0.9rem;
}
.properties{
    background: #fbfbfb;
    border-radius: 2em;
}
.properties-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(14em, auto));
    gap: 2em;
    padding: 0 3em;
}
.properties-container .box{
    margin-top: 0;
    background: var(--bg-color, #ffffff);
    padding: 0.7em;
    border-radius: 1em;
    box-shadow: var(--box-shadow, 2px 2px 18px rgb(14 52 54 / 15%));
}
.properties-container .box:hover{
    transform: translateY(-10px);
    transition: 0.5s;
}
.properties-container .box img{
    border-radius: 1em;
    height: 220px;
    object-fit: cover;
    object-position: center;
}
.properties-container .box h3{
    font-size: 0.94rem;
    font-weight: 600;
    float: right;
}
.properties-container .box .content{
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}
.properties-container .box .content .text h3{
    font-weight: 500;
}
.properties-container .box .content .text p{
    font-size: 0.7rem;
}
.properties-container .box .content .icon{
    display: flex;
    align-items: center;
    column-gap: 1em;
}
.properties-container .box .content .icon .bx{
    display: flex;
    align-items: center;
    font-size: 0.94rem;
}
.properties-container .box .content .icon .bx span{
    font-size: 0.75rem;
    font-weight: 500;
    margin-left: 0.3em;
}