.services{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24em, auto));
    gap: 3.5em;
}
.services .box{
    margin-top: 0;
    padding: 1.8em;
    background: var(--bg-color, #ffffff);
    box-shadow: var(--box-shadow);
    text-align: center;
    border-radius: 2em;
}
.services .box:hover{
    background: var( --main-color, #2aaf83);;
    color: var(--bg-color, #ffffff);
    transition: 0.4s all linear;
}
.services .box .bx{
    padding: 1.6em;
    border-radius: 50%;
    background: #f6f6fe;
    color: var( --main-color, #2aaf83);
    font-size: 0.8rem;
}
.services .box h3{
    font-size: 1.2rem;
    margin: 1em 0 0.4em;
} 
.services .box p{
    font-size: 0.94rem;
}