//variables
// Theme color
$primary: #326dee !default;
$secondary: #1ac886 !default;
$error: #d32752 !default;
$info: #f6c31c !default;

//color palette
$colors: (
    "primary": $primary,
    "secondary": $secondary,
    "error": $error,
    "info": $info,
    "blue": #1919e6,
    "red": #e61919,
    "yellow": #e6e619,
    "green": #19e635,
    "orange": #ffa600,
    "purple": #9900ff,
    "gray": #808080,
    "pink": #ffc0cb,
    "black": black,
    "white": white,  
);

$font-weights: ( 
    "regular": 400,
    "medium": 700,
    "bold": 900
);

//spacing
$base_padding: 0.75rem !default;
$base_margin: 0.75rem !default;

//borders
$base_border_thickness: 1px !default;
$base_border_radius: 20px !default;

//box-shadow
$base_box_shadow: 1px 3px 5px rgba(0, 0, 0, 0.1) !default;

//font size
$base_font_size: 1rem !default;
$font_size_sm: $base_font_size * 0.75 !default;
$font_size_lg: $base_font_size * 1.5 !default;
$font_size_xl: $base_font_size * 2 !default;
$font_size_xxl: $base_font_size * 3 !default;