@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700;900&display=swap');

:root{
    --main-font: 'poppins' sans-serif;
    --box-shadow: 2px 2px 18px rgb(14 52 54 / 15%);
    --main-color: #2aaf83;
    --second-color: #196a38;
    --text-color: #314862;
    --bg-color: #ffffff;
    --hover-color: #1ddb9c;
    --skin-color: #ff0000;
    --hover-text: #dad3d3;
}
$font-weights: ( "regular": 400, "medium": 700, "bold": 900);

